.blog-card-wrapper{
    display: grid;

    grid-template-columns: 1fr 2fr 1fr;
    background: whitesmoke;
}

.blog-card {
    grid-column: 2/3;
    margin: 1rem;
  width: fit-content;
  padding: 1rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, .05);
}

.blog-card__title {
  font-weight: 600;
  color: rgb(31, 41, 55);
}

.blog-card__description {
  height: 100px;
  overflow: hidden;
  margin-top: 1rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgb(75, 85, 99);
}

.blog-card__link {
  --tw-text-opacity: 1;
  color: rgb(59, 130, 246);
}

.blog-card__link:hover {
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
}

.blog-card__actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  flex-shrink: 0;
}

.blog-card__pref {
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgb(31, 41, 55);
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  transition: all .3s cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
  background-color: transparent;
}

.blog-card__pref:hover {
  color: rgb(156, 163, 175);
}

.blog-card__pref:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}
