:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

form div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

form input {
  font-weight: 400;
  padding: 0.5rem;
  border-radius: 1em;
}
form button {
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.5rem;
  border-radius: 1em;
}

.authentication-form {
  background: grey;
  padding: 2rem;
  margin: 1em;
  font-weight: 600;
}
.blog-card {
  margin: 1rem;
  background: skyblue;
  padding: 1rem;
}
/* General Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  color: #333;
  margin: 0;
  padding: 0;
}

/* Navbar Styles */
nav {
  background-color: #ffffff;
  border-bottom: 1px solid #ddd;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav div {
  display: flex;
  align-items: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 15px;
}

nav ul li {
  display: inline;
}

nav a {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}

nav a:hover {
  color: #0056b3;
}

button {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  margin-left: 10px;
}

button:hover {
  background-color: #0056b3;
}

a {
  text-decoration: none;
  color: inherit;
}

.home,
.dashboard {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 1rem;
  padding: 20px;
  width: 800px;
}
.card:hover {
  scale: 1.2;
  transition: transform 0.7s ease;
}

.card-title {
  font-size: 1.5em;
  margin-bottom: 10px;
  text-align: left;
}

.card-content {
  display: flex;
  justify-content: space-between;
}

.card-left {
  flex: 1;
  margin-right: 10px;
}

.card-right {
  flex: 2;
}

.card-author,
.card-summary,
.card-date {
  margin: 5px 0;
}

.card-summary {
  font-size: 0.9em;
  color: #555;
}

.editor {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.item {
  width: 100%;
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  width: 95%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.ql-container {
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  min-height: 300px;
  justify-content: center;
  width: 99%;
  padding: 10px;
  margin: 10px;
  background-color: #fff;
}
